h1 {
  color: #878787;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 300;
  line-height: 30pxpx;
}

.weather-app-wrapper {
  max-width: 500px;

  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  position: relative;
}
.overwiew {
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
.weather-temperature .active {
  color: rgb(33, 33, 33);
}
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
ul {
  padding-left: 10px;
}
h1 {
  padding-left: 10px;
  margin-top: -40px;
}

.sun {
  position: absolute;
  left: 22%;
  bottom: 120px;
}

.weather-forecast-day {
  margin-top: 20px;
  text-align: center;
  display: flex;
  justify-content:space-around;
}
.weather-forecast-date {
  font-size: 16px;
  color: #000;
}

.weather-forecast-temperatures {
  font-size: 13px;
}

.weather-forecast-temperatures-min {
  opacity: 0.5;
}
.weather-forecast-temperatures {
  display: flex;
  color: rgb(243, 4, 4);
text-align: center;
}
