* {
  margin: 0;
  padding: 0;
}
.container {
  position: relative;
}

h1 {
  color: #878787;
  font-size: 28px;
  font-weight: 500;
  line-height: 28px;
  position: absolute;
  top: 80px;
  left: 30px;
}
.desc {
  position: absolute;
  right: 40px;
  top: 130px;
}
.weather-time {
  position: absolute;
  left: 5px;
  top: 130px;
}
.weather-temperature {
  text-align: center;
  margin-top: 40px;
  padding: 30px;
}

li {
  list-style: none;

  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 300;
  line-height: 30pxpx;
}

.weather-app-wrapper {
  max-width: 500px;
  background-color: rgba(16, 118, 201, 0.155);
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  position: relative;
}
.weather-app-temperature {
  font-size: 45px;
}
.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  
}
.weather-forecast-day {
  font-size: px;
}
.weather-forecast-date {
  text-align: center;
}

.weather-forecast-icon {
  width: 60px;
}
.weather-forecast-temperature  {
  display: inline-block;
  width: 30px;
}
small{
    position: absolute;
    left:0;
    bottom: -20px;
}
a{text-decoration: none;
cursor: pointer;}
